.about-me{
	
}

.about-me-column{
	margin-top: 10%;
	width: 40%;


}

.about-me-pic{
	width: 100%;
	height: 100%;
	border-radius: 5% 0 0 0;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-me-container{
	width: 100%;
	height: 100%;
 	font-family: "Courier New", Monospace;
 	font-size: small;
 	color: #c49d89;
 	background-color: #160f06;
 	opacity: .75;
 	border-radius: 0 0 5% 0;
 	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	padding: 3%;
}

.about-picker{
	border-radius: 5% 5% 5% 5%;
	width: 10%;
	height: 6%;
	margin: 2%;
	margin-left: 45%;
	background-color: #c49d89;
	background-position: fixed;
}

.about-picker-column{
	margin: 2%;
}

.about-picker-column a{
	background-color: #c49d89;
	color: black !important;
}

.about-picker-column a:hover {
	background-color: #505050;
	color: black;
}