.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url('./imgs/background.png');
  background-color: black;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  font-size: 100%;
  position: fixed;


}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.project{
  height: 100px;
  width: 50%;
  background-color: black;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5% 5% 0 0;
}

.column{
   overflow-x: hidden;
}

.row{
  width: flex;
  height: flex;
  padding: 1%;
  justify-content: center;
}

.row-projects{
  height: 10%;
}





img {
  width: 100%;
  height: 100%;
}

.headshot{
  width: flex;
  height: flex;
  padding-left: 15%;
}

.Introduction{
  align-content: center;

}

.intro-column{
  width: 40%;
}

.intro-pad{
  width: 10%;
}

.enter-button{
  width: 55%;
  height: 75%;
  margin-top: 30%;
  margin-right: 50%;

}

.card {
  width: 20%;
  height: 20%;
  margin: 1%;

}

.img-project{
  border-radius: 5% 5% 0 0;
}

.container{
  padding: 5%;
  font-family: "Courier New", Monospace;
  color: #c49d89;
  background-color: #160f06;
  opacity: .75;
}


.container-intro{
  content-align: center;
  padding: 2%;
  color: white;
}


.sidebar{
  opacity: 0.8;
  color: #61dafb;
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: hidden;
  padding-top: 15%;
}

.sidebarIcon{
  height: 50px;
  width: 50px;
}

.threeContainer{
  height: 500px;
  width: 250px;
}

.icon-bar { 
  font-family: "Courier New", Monospace;
  font-style: normal;
}

.resume-embed{
  width: 40%;
  height: 100vh;
}
 

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: left; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: #c49d89 !important; /* White text color */
  letter-spacing: .3em;
  font-size: x-small;
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #4CAF50; /* Add an active/current color */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
